
*{
  margin:0;
  list-style:none;
  padding:0;
  text-decoration: none;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{ 
  background:#191919;
}

.wrapper .sidebar{
  position:fixed;
  top:0px;
  right: 0;
  background: black;
  text-align: center;
  width: 120px;
  height: calc(100%);
  transition: all 0.3s ease;
}

.wrapper .sidebar ul li a{
  display: block;
  padding: 20px;
  position: relative;
  margin-bottom: 1px;
  color: #eeeeee;
  white-space: nowrap;
}


.wrapper .sidebar ul li a::before{
  content:"";
  position: absolute;
  top: 0;
  right:0;
  width: 3px;
  height: 100%;
  background-color:#eeeeee ;
  display: none;

}
.wrapper .sidebar ul li a span.icon{
  margin-right: 10px;
  display: inline-block;

}
.wrapper .sidebar ul li a span.title{
  display: none;
}
.wrapper .sidebar ul li a:hover,.wrapper .sidebar ul li a.active{
  background: #262626;
  color: white;
}
.wrapper .sidebar ul li a:hover:before{
  display: block;
  
}
.wrapper.collapse .sidebar{
  width: 300px;
  
}
.wrapper.collapse .sidebar ul li a {
  text-align: center;

}
.wrapper.collapse .sidebar ul li a span.icon {
  margin: 0;
  
}


.wrapper.collapse .sidebar ul li a span.title{
  display: inline-block;
}
.wrapper.collapse .container{
  width: calc(100% - 300px);
  margin-right: 300px;
}

.wrapper .container{
  position:absolute;
  width: calc(100% - 120px);
  height: calc(100%);
  align-items:center;
  margin-top: 0;
  margin-right: 120px;
  transition: all 0.3s ease;
  
}
.wrapper .container #home{
  position: block;
  width:100%;
  height:100%;
  background-image: url("../images/bg-coding.jpg");
  background-repeat: no-repeat;
  background-position:left top;
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items:center;
}
.wrapper .container #home .center{
  max-width: 50%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.18);
  border-radius: 13px;
}

.container .item{
  
}

@media screen and (max-height: 450px) {
}








//animated typing
#home .center .wrapper-animated {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  font-size: 0;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}



#home .center .wrapper-animated .letters .letter {
  display: inline-block;
  width:40px;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  margin: 0 0;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  color: #eee;
}
#home .center .wrapper-animated .letters .letter:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  word-break: break-all;
  background-color: #1d1f20;
}

#home .center .wrapper-animated .letters .letter:nth-child(1):before {
  content: "4056297813";
  margin-top: -192px;
  -webkit-animation-name: letter1;
          animation-name: letter1;
  -webkit-animation-duration: 2.50s;
          animation-duration: 2.50s;
  -webkit-animation-delay: 0.01s;
          animation-delay: 0.01s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter1 {
  from {
    margin-top: -192px;
  }
  to {
    margin-top: 40px;
  }
}

@keyframes letter1 {
  from {
    margin-top: -192px;
  }
  to {
    margin-top: 40px;
  }
}
#home .center .wrapper-animated .letters .letter:nth-child(2):before {
  content: "1607893425";
  margin-top: -144px;
  -webkit-animation-name: letter2;
          animation-name: letter2;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-delay: 0.68s;
          animation-delay: 0.68s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter2 {
  from {
    margin-top: -144px;
  }
  to {
    margin-top: 40px;
  }
}

@keyframes letter2 {
  from {
    margin-top: -144px;
  }
  to {
    margin-top: 40px;
  }
}
#home .center .wrapper-animated .letters .letter:nth-child(3):before {
  content: "9572180346";
  margin-top: -48px;
  -webkit-animation-name: letter3;
          animation-name: letter3;
  -webkit-animation-duration: 1.24s;
          animation-duration: 1.24s;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter3 {
  from {
    margin-top: -48px;
  }
  to {
    margin-top: 40px;
  }
}

@keyframes letter3 {
  from {
    margin-top: -48px;
  }
  to {
    margin-top: 40px;
  }
}
#home .center .wrapper-animated .letters .letter:nth-child(4):before {
  content: "7891236045";
  margin-top: -144px;
  -webkit-animation-name: letter4;
          animation-name: letter4;
  -webkit-animation-duration: 1.3028571429s;
          animation-duration: 1.3028571429s;
  -webkit-animation-delay: 0.52s;
          animation-delay: 0.52s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter4 {
  from {
    margin-top: -144px;
  }
  to {
    margin-top: 40px;
  }
}

@keyframes letter4 {
  from {
    margin-top: -144px;
  }
  to {
    margin-top: 40px;
  }
}
#home .center .wrapper-animated .letters .letter:nth-child(5):before {
  content: "5680294731";
  margin-top: -144px;
  -webkit-animation-name: letter5;
          animation-name: letter5;
  -webkit-animation-duration: 2.4685714286s;
          animation-duration: 2.4685714286s;
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter5 {
  from {
    margin-top: -144px;
  }
  to {
    margin-top: 40px;
  }
}

@keyframes letter5 {
  from {
    margin-top: -144px;
  }
  to {
    margin-top: 40px;
  }
}
#home .center .wrapper-animated .letters .letter:nth-child(6):before {
  content: "1924837065";
  margin-top: -120px;
  -webkit-animation-name: letter6;
          animation-name: letter6;
  -webkit-animation-duration: 0.2666666667s;
          animation-duration: 0.2666666667s;
  -webkit-animation-delay: 0.92s;
          animation-delay: 0.92s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter6 {
  from {
    margin-top: -120px;
  }
  to {
    margin-top: 40px;
  }
}

@keyframes letter6 {
  from {
    margin-top: -120px;
  }
  to {
    margin-top: 40px;
  }
}
#home .center .wrapper-animated .letters .letter:nth-child(7):before {
  content: "2897530461";
  margin-top: -24px;
  -webkit-animation-name: letter7;
          animation-name: letter7;
  -webkit-animation-duration: 1.64s;
          animation-duration: 1.64s;
  -webkit-animation-delay: 0.18s;
          animation-delay: 0.18s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter7 {
  from {
    margin-top: -24px;
  }
  to {
    margin-top: 40px;
  }
}

@keyframes letter7 {
  from {
    margin-top: -24px;
  }
  to {
    margin-top: 40px;
  }
}
#home .center .wrapper-animated .letters .letter:nth-child(8):before {
  content: "0975243861";
  margin-top: -72px;
  -webkit-animation-name: letter8;
          animation-name: letter8;
  -webkit-animation-duration: 2.94s;
          animation-duration: 2.94s;
  -webkit-animation-delay: 0.02s;
          animation-delay: 0.02s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter8 {
  from {
    margin-top: -72px;
  }
  to {
    margin-top: 40px;
  }
}

@keyframes letter8 {
  from {
    margin-top: -72px;
  }
  to {
    margin-top: 40px;
  }
}
#home .center .wrapper-animated .letters .letter:nth-child(9):before {
  content: "0137495826";
  margin-top: -216px;
  -webkit-animation-name: letter9;
          animation-name: letter9;
  -webkit-animation-duration: 2.556s;
          animation-duration: 2.556s;
  -webkit-animation-delay: 0.29s;
          animation-delay: 0.29s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter9 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 40px;
  }
}

@keyframes letter9 {
  from {
    margin-top: -216px;
  }
  to {
    margin-top: 40px;
  }
}
#home .center .wrapper-animated .letters .letter:nth-child(10):before {
  content: "7432160859";
  margin-top: -48px;
  -webkit-animation-name: letter10;
          animation-name: letter10;
  -webkit-animation-duration: 1.3066666667s;
          animation-duration: 1.3066666667s;
  -webkit-animation-delay: 0.51s;
          animation-delay: 0.51s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes letter10 {
  from {
    margin-top: -48px;
  }
  to {
    margin-top: 40px;
  }
}

@keyframes letter10 {
  from {
    margin-top: -48px;
  }
  to {
    margin-top: 40px;
  }
}




