<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->

			<link rel="stylesheet" type="text/css" href="/css/style.css">

		</head>
		<body>


<div class="row">
  <div class="column left" style="background-color:#aaa;">
   <ul>
  				<li><a class="navbar" href="default.asp">Home</a></li>
  				<li><a class="navbar" href="news.asp">News</a></li>
  				<li><a class="navbar" href="contact.asp">Contact</a></li>
  				<li><a class="navbar" href="about.asp">About</a></li>
	</ul>
			
  </div>
  <div class="column right" style="background-color:#bbb;">
    
    <p>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container --></p>
  </div>
</div>
			
			
		
			<footer>
	    		<ul>
				ripa
				</ul>
			</footer>
		</body>
